body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #f0f0f0;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:5px;
  padding:10px 0;
}
nav a{
  text-decoration: none;
  color: black;
}

#subheader{
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}

#subheader h1{
  text-align: center;
  margin-left:300px;
}  


form input{
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #add4f4;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#main-content {
    padding: 20px;
}
  

  